* {
  font-family: 'Roboto', sans-serif;
}

html body {
  margin: 0;
  padding: 0;
  background: #fff;
}

.title {
  margin-bottom: 10px;
  margin-top: 0;
  margin-left: 20px;
  font-size: 5em;
  font-weight: 200;
  color: #607D8B;
}

.hidden {
  margin-bottom: 10px;
  margin-top: 0;
  margin-left: 20px;
  font-size: 5em;
  padding-top: 175px;
  font-weight: 400;
  color: white;

  opacity: 0;
}

.blue {
  color: #03A9F4;
  font-weight: 400;
}

.searchBar {
  margin: 0 auto;
  display: block;
  font-weight: 200;
  height: 45px;
  width: 425px;
  padding: 15px;
  font-size: 1.5em;
  color: #222;
  border: 1px solid #607D8B;
  position: absolute;

  outline: 0px;
  transition: outline 0.2s ease;
}

.searchBar:focus {
  outline: 2px solid #03A9F4;
  transition: outline 0.2s ease;
}

.moveUp {
  margin: 0 auto;
  display: block;
  font-weight: 200;
  height: 45px;
  width: 425px;
  padding: 15px;
  font-size: 1.5em;
  color: #222;
  border: 1px solid #607D8B;
  position: absolute;
  top: 300;

  outline: none;
  top: 20;
}

.searchContainer {
  position: absolute;
  display: inline-block;
  height: 200px;
  width: 500px;

  top: 35%;
  transition: top 0.1s ease-out;
}

.hideSearchContainer {
  position: absolute;
  display: inline-block;
  height: 100px;
  width: 500px;
  top: 0;
}

.loading {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 300;
  margin-left: 45%;

  opacity: 100%;
  transition: opacity .3s;
}

#searchResults {
  margin-left: 22%;
  margin-top: 0;
  position: absolute;
  top: 100;
}

.results {
  width: 600px;
  height: 100%;
  /*border-bottom: 1px solid darkgrey;*/
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  padding-left:  20px;
  padding-right: 20px;

}

.results:hover {
  background: rgba(211,211,211,.4);
  box-shadow: 0 0 5px 10px rgba(211,211,211,.4);
  transition: background .1s ease;
  transition: box-shadow .1s ease;
}

.results h2 {
  font-weight: 400;
  text-indent: 0;
  margin: 0 0 10px 0;
  color: #03A9F4;
}

.results a {
  font-weight: 400;
  text-indent: 0;
  display: block;
  margin-bottom: 5px;
  /*padding-bottom: 10px;*/
  color: #03A9F4;
  text-decoration: none;
  font-size: 1.5em;
}

.results p {
  font-weight: 300;
  line-height: 25px;
  margin: 0;
  color: #607D8B;
}

.noResults {
  margin-left: 190px;
  font-size: 2em;
}
